<%= form_with(model: todo_list, local: true) do |form| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="affiliate_form">
    <div class="details_edit">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <div class="field">
        <%= form.label :website %>
        <%= form.text_field :website %>
      </div>
      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="field">
        <%= form.label :location %>
        <%= form.text_field :location %>
      </div>
      <div class="field">
        <%= form.label :percentage %>
        <%= form.text_field :percentage %>
      </div>
      <div class="field">
        <%= form.label :paypal_email %>
        <%= form.text_field :paypal_email %>
      </div>
      <div class="field">
        <%= form.label :status %>
        <%= form.select( "status", ["Active", "Out", "Pending", "Writer", "Archived"]) %>
      </div>
    </div>

    <div class="details_desc">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <div id="submit">
        <%= form.submit %>
      </div>
      <div id="cancel">
        <%= link_to 'Cancel', todo_lists_path %>
      </div>
    </div>
  </div>
<% end %>
