<p id="notice"><%= notice %></p>

<div class="page_title"><h1>Affiliates</h1></div>

<div class="add_list"><%= link_to 'Add Affiliate', new_todo_list_path %></div>

<table id=affiliates_table>
  <thead>
    <tr>
      <th>Affiliate</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.order(:id).each do |todo_list| %>
      <tr>
        <td id=af_title><%= todo_list.title %></td>
        <td id=af_name><%= todo_list.title %></td>
        <td id=af_email><%= todo_list.email %></td>
        <td id=af_status><%= todo_list.status %></td>
        <td><%= link_to 'Show', todo_list %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
        <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
